In [1]:
import pandas as pd
import requests

In [2]:
baseAPI = "https://bdl.stat.gov.pl/api/v1/"
endPoint = "subjects"
lang_param ="lang=en"

In [ ]:
## Subjects loading
page_size = "page-size=33"
response = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{page_size}'
).json()
subjects = pd.DataFrame(response['results'])
#subjects.to_csv("Usefull\\subjects.csv", index=False)

In [5]:
subjects = pd.read_csv("Usefull\\subjects.csv")

In [7]:
subjects = subjects.drop(columns=["Unnamed: 0"])

In [9]:
subjects[subjects["id"] == "K4"]

,id,name,hasVariables,children,levels
24,K4,LABOUR MARKET,False,"['G12', 'G13', 'G479', 'G481', 'G538', 'G570',...","[3, 4, 5, 6]"

In [21]:
## Looking for info about the children in LABOUR MARKET subject
parent_id = "parent-id=K4"
response_children = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{parent_id}'
).json()
sub_children = pd.DataFrame(response_children['results'])
sub_children

,id,parentId,name,hasVariables,children,levels
0,G623,K4,ECONOMIC ACTIVITY OF THE POPULATION AGED 15-89...,False,"[P3968, P3969, P3970, P3972, P3973, P3974, P39...",[3]
1,G635,K4,ECONOMIC ACTIVITY OF THE POPULATION AGED 15-89...,False,"[P4089, P4090, P4091, P4092, P4093, P4094, P40...",[3]
2,G638,K4,ECONOMIC ACTIVITY OF THE POPULATION AGED 15-89...,False,"[P4157, P4158, P4159, P4160, P4161, P4162, P41...",[5]
3,G12,K4,REGISTERED UNEMPLOYMENT,False,"[P1364, P1365, P1944, P1946, P1947, P1948, P19...","[3, 5, 6]"
4,G570,K4,ARCHIVAL DATA,False,"[P1363, P1368, P1369, P1370, P1372, P1373, P13...","[3, 4, 5, 6]"
5,G538,K4,WORK PLACES,False,"[P3441, P4294]",[3]
6,G481,K4,EMPLOYMENT BY OTHER DIVISION THAN PKD,False,"[P4280, P4281, P4282, P4454, P4455, P4456, P44...","[3, 5, 6]"
7,G479,K4,"EMPLOYMENT, PAID EMPLOYEES AND AVERAGE PAID EM...",False,"[P2685, P2836, P2837, P4283, P4284, P4411, P44...","[3, 5]"
8,G13,K4,WORKING CONDITIONS,False,"[P1367, P1371, P1960, P2276, P2587, P2588, P25...","[3, 5]"

In [ ]:
## Ok so now we're interesting in G623, we can searching up
parent_id = "parent-id=G623"
response_G = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{parent_id}'
).json()
subGchildren = pd.DataFrame(response_G['results'])
subGchildren

,id,parentId,name,hasVariables,children,levels
0,P3980,G623,Economically active population by sex and age,True,[],[3]
1,P3969,G623,Economic activity of the population by place o...,True,[],[3]
2,P3972,G623,Unemployed persons by sex and age,True,[],[3]
3,P3979,G623,Economically inactive persons by age,True,[],[3]
4,P3973,G623,Persons economically inactive by sex,True,[],[3]
5,P3968,G623,Population aged 15-89 years by sex and age,True,[],[3]
6,P3983,G623,Percentage of population aged 15-64 by level o...,True,[],[3]
7,P3978,G623,Employed by age,True,[],[3]
8,P3970,G623,"Employed persons by sex, work time and PKD sec...",True,[],[3]
9,P3982,G623,Unemployment rate by sex,True,[],[3]

In [ ]:
## Ok so now we're interesting in G12, we can searching up - registered unemployment
parent_id = "parent-id=G12"
response_G = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{parent_id}'
).json() ## first call
subGchildren = pd.DataFrame(response_G['results'])
subGchildren

,id,parentId,name,hasVariables,children,levels
0,P2671,G12,Registered unemployed persons out of job for l...,True,[],[5]
1,P3927,G12,Registered unemployed persons during the year ...,True,[],[5]
2,P3733,G12,Registered unemployed persons by gminas (half-...,True,[],[6]
3,P3898,G12,Registered unemployed persons by duration of u...,True,[],[5]
4,P1948,G12,Registered unemployed persons by duration of u...,True,[],[5]
5,P2961,G12,Registered unemployed persons by sex (monthly ...,True,[],[5]
6,P1364,G12,Registered unemployed persons by sex and type,True,[],[5]
7,P1944,G12,Registered unemployed persons by sex in gminas,True,[],[6]
8,P3965,G12,Registered unemployed persons by sex in voivod...,True,[],[3]
9,P3896,G12,Registered unemployed persons by educational l...,True,[],[5]

In [ ]:
dataF = []
parent_id = "parent-id=G12"
response_G = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{parent_id}'
).json() ## first call

while True:
    # Collect results from the current page
    dataF.append(pd.DataFrame(response_G['results']))
    # Check if there is a next page
    if "next" in response_G['links']:
        response_G = requests.get(
            f"{response_G['links']['next']}"
        ).json()
    else:
        break
    
finalDf = pd.concat(dataF, ignore_index=True)
finalDf

,id,parentId,name,hasVariables,children,levels
0,P2671,G12,Registered unemployed persons out of job for l...,True,[],[5]
1,P3927,G12,Registered unemployed persons during the year ...,True,[],[5]
2,P3733,G12,Registered unemployed persons by gminas (half-...,True,[],[6]
3,P3898,G12,Registered unemployed persons by duration of u...,True,[],[5]
4,P1948,G12,Registered unemployed persons by duration of u...,True,[],[5]
5,P2961,G12,Registered unemployed persons by sex (monthly ...,True,[],[5]
6,P1364,G12,Registered unemployed persons by sex and type,True,[],[5]
7,P1944,G12,Registered unemployed persons by sex in gminas,True,[],[6]
8,P3965,G12,Registered unemployed persons by sex in voivod...,True,[],[3]
9,P3896,G12,Registered unemployed persons by educational l...,True,[],[5]
10,P1947,G12,Registered unemployed persons by educational l...,True,[],[5]
11,P3899,G12,Registered unemployed persons by total work se...,True,[],[5]
12,P1949,G12,Registered unemployed persons by work seniorit...,True,[],[5]
13,P2962,G12,Registered unemployed persons by type (monthly...,True,[],[5]
14,P3897,G12,Registered unemployed persons by age (monthly ...,True,[],[5]
15,P2826,G12,Registered unemployed persons by age and durat...,True,[],[5]
16,P1946,G12,Registered unemployed persons by age and sex,True,[],[5]
17,P2963,G12,Registered unemployed persons registered in ru...,True,[],[5]
18,P3239,G12,Disabled registered at the employment office b...,True,[],[5]
19,P3591,G12,Share of registered unemployed persons by grou...,True,[],[5]
20,P3567,G12,Share of registered unemployed persons by educ...,True,[],[5]
21,P2965,G12,Job offers (monthly data),True,[],[5]
22,P1365,G12,Job offers by person groups,True,[],[5]
23,P2392,G12,Registered unemployment rate,True,[],[5]
24,P3559,G12,Registered unemployment rate and inflow into u...,True,[],[5]
25,P4324,G12,Average of share of persons in a specific situ...,True,[],[5]
26,P2670,G12,Share of the registered unemployed persons in ...,True,[],[6]
27,P3615,G12,Share of registered unemployed persons by grou...,True,[],[5]
28,P3299,G12,Share of the registered unemployed persons by ...,True,[],[5]
29,P3297,G12,Share of registered unemployed graduates in un...,True,[],[5]
30,P4007,G12,Expenditures of the Labour Fund during a year ...,True,[],[3]
31,P4334,G12,Persons registered as unemployed per one job o...,True,[],[5]

In [33]:
## We found the Unemployed persons by sex and age id=P3972, we now looking at the variables it has
subject_id = "subject-id=P3972"
endPoint = 'Variables'
page_size = "page-size=48"
response_subid = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{subject_id}&{page_size}'
).json()

In [ ]:
## We found the Unemployed Rate id=P3559, we now looking at the variables it has
subject_id = "subject-id=P3559"
endPoint = 'Variables'

dataF = []
responseSubId = requests.get(
    f'{baseAPI}{endPoint}?{lang_param}&{subject_id}'
).json() ## first call

while True:
    
    dataF.append(pd.DataFrame(responseSubId['results']))
    
    if "next" in responseSubId['links']:
        responseSubId = requests.get(
            f"{responseSubId['links']['next']}"
        ).json()
    else:
        break

varDf = pd.concat(dataF, ignore_index=True)

In [7]:
varDf
#tutaj skonczyles ;P idzie ci kodzik na mail Client registered: 7100382d-be33-4c93-f27e-08de2048624b

,id,subjectId,n1,n2,level,measureUnitId,measureUnitName
0,461680,P3559,January,registered unemployment rate,5,50,%
1,461668,P3559,January,Inflow into unemployment rate,5,50,%
2,461681,P3559,February,registered unemployment rate,5,50,%
3,461669,P3559,February,Inflow into unemployment rate,5,50,%
4,461682,P3559,March,registered unemployment rate,5,50,%
5,461670,P3559,March,Inflow into unemployment rate,5,50,%
6,461683,P3559,April,registered unemployment rate,5,50,%
7,461671,P3559,April,Inflow into unemployment rate,5,50,%
8,461684,P3559,May,registered unemployment rate,5,50,%
9,461672,P3559,May,Inflow into unemployment rate,5,50,%
10,461685,P3559,June,registered unemployment rate,5,50,%
11,461673,P3559,June,Inflow into unemployment rate,5,50,%
12,461686,P3559,July,registered unemployment rate,5,50,%
13,461674,P3559,July,Inflow into unemployment rate,5,50,%
14,461687,P3559,August,registered unemployment rate,5,50,%
15,461675,P3559,August,Inflow into unemployment rate,5,50,%
16,461688,P3559,September,registered unemployment rate,5,50,%
17,461676,P3559,September,Inflow into unemployment rate,5,50,%
18,461689,P3559,October,registered unemployment rate,5,50,%
19,461677,P3559,October,Inflow into unemployment rate,5,50,%
20,461690,P3559,November,registered unemployment rate,5,50,%
21,461678,P3559,November,Inflow into unemployment rate,5,50,%
22,461691,P3559,December,registered unemployment rate,5,50,%
23,461679,P3559,December,Inflow into unemployment rate,5,50,%

In [ ]:
# filtering inflow into unemployment rate
varDf = varDf[
    varDf['n2'] == "registered unemployment rate"
]
varDf

,id,subjectId,n1,n2,level,measureUnitId,measureUnitName
0,461680,P3559,January,registered unemployment rate,5,50,%
2,461681,P3559,February,registered unemployment rate,5,50,%
4,461682,P3559,March,registered unemployment rate,5,50,%
6,461683,P3559,April,registered unemployment rate,5,50,%
8,461684,P3559,May,registered unemployment rate,5,50,%
10,461685,P3559,June,registered unemployment rate,5,50,%
12,461686,P3559,July,registered unemployment rate,5,50,%
14,461687,P3559,August,registered unemployment rate,5,50,%
16,461688,P3559,September,registered unemployment rate,5,50,%
18,461689,P3559,October,registered unemployment rate,5,50,%
20,461690,P3559,November,registered unemployment rate,5,50,%
22,461691,P3559,December,registered unemployment rate,5,50,%

In [20]:
unitLevel = "unit-level=2"
pageSize = "page-size=100"
varId = varDf.iloc[0]['id']
responseData = requests.get(
            f'{baseAPI}{endPoint}{varId}?{lang_param}&{unitLevel}&{pageSize}'
        ).json() ## first call
responseData

{'totalRecords': 16,
 'variableId': 461680,
 'measureUnitId': 50,
 'aggregateId': 1,
 'lastUpdate': None,
 'results': [{'id': '011200000000',
   'name': 'MAOPOLSKIE',
   'values': [{'year': '2011', 'val': 11.0, 'attrId': 1},
    {'year': '2012', 'val': 11.1, 'attrId': 1},
    {'year': '2013', 'val': 12.2, 'attrId': 1},
    {'year': '2014', 'val': 12.0, 'attrId': 1},
    {'year': '2015', 'val': 10.1, 'attrId': 1},
    {'year': '2016', 'val': 8.6, 'attrId': 1},
    {'year': '2017', 'val': 6.8, 'attrId': 1},
    {'year': '2018', 'val': 5.5, 'attrId': 1},
    {'year': '2019', 'val': 4.9, 'attrId': 1},
    {'year': '2020', 'val': 4.3, 'attrId': 1},
    {'year': '2021', 'val': 5.6, 'attrId': 1},
    {'year': '2022', 'val': 5.1, 'attrId': 1},
    {'year': '2023', 'val': 4.7, 'attrId': 1},
    {'year': '2024', 'val': 4.5, 'attrId': 1},
    {'year': '2025', 'val': 4.4, 'attrId': 1}]},
  {'id': '012400000000',
   'name': 'LSKIE',
   'values': [{'year': '2011', 'val': 10.6, 'attrId': 1},
    {'year': '2012', 'val': 10.8, 'attrId': 1},
    {'year': '2013', 'val': 11.9, 'attrId': 1},
    {'year': '2014', 'val': 11.7, 'attrId': 1},
    {'year': '2015', 'val': 10.0, 'attrId': 1},
    {'year': '2016', 'val': 8.5, 'attrId': 1},
    {'year': '2017', 'val': 6.8, 'attrId': 1},
    {'year': '2018', 'val': 5.3, 'attrId': 1},
    {'year': '2019', 'val': 4.6, 'attrId': 1},
    {'year': '2020', 'val': 3.9, 'attrId': 1},
    {'year': '2021', 'val': 5.2, 'attrId': 1},
    {'year': '2022', 'val': 4.4, 'attrId': 1},
    {'year': '2023', 'val': 4.0, 'attrId': 1},
    {'year': '2024', 'val': 3.8, 'attrId': 1},
    {'year': '2025', 'val': 3.9, 'attrId': 1}]},
  {'id': '020800000000',
   'name': 'LUBUSKIE',
   'values': [{'year': '2011', 'val': 16.6, 'attrId': 1},
    {'year': '2012', 'val': 16.5, 'attrId': 1},
    {'year': '2013', 'val': 17.1, 'attrId': 1},
    {'year': '2014', 'val': 16.5, 'attrId': 1},
    {'year': '2015', 'val': 13.1, 'attrId': 1},
    {'year': '2016', 'val': 11.2, 'attrId': 1},
    {'year': '2017', 'val': 8.9, 'attrId': 1},
    {'year': '2018', 'val': 7.0, 'attrId': 1},
    {'year': '2019', 'val': 6.2, 'attrId': 1},
    {'year': '2020', 'val': 5.3, 'attrId': 1},
    {'year': '2021', 'val': 6.6, 'attrId': 1},
    {'year': '2022', 'val': 5.2, 'attrId': 1},
    {'year': '2023', 'val': 4.8, 'attrId': 1},
    {'year': '2024', 'val': 4.7, 'attrId': 1},
    {'year': '2025', 'val': 4.8, 'attrId': 1}]},
  {'id': '023000000000',
   'name': 'WIELKOPOLSKIE',
   'values': [{'year': '2011', 'val': 9.9, 'attrId': 1},
    {'year': '2012', 'val': 9.7, 'attrId': 1},
    {'year': '2013', 'val': 10.5, 'attrId': 1},
    {'year': '2014', 'val': 10.0, 'attrId': 1},
    {'year': '2015', 'val': 8.0, 'attrId': 1},
    {'year': '2016', 'val': 6.4, 'attrId': 1},
    {'year': '2017', 'val': 5.1, 'attrId': 1},
    {'year': '2018', 'val': 3.8, 'attrId': 1},
    {'year': '2019', 'val': 3.3, 'attrId': 1},
    {'year': '2020', 'val': 3.1, 'attrId': 1},
    {'year': '2021', 'val': 3.9, 'attrId': 1},
    {'year': '2022', 'val': 3.3, 'attrId': 1},
    {'year': '2023', 'val': 3.2, 'attrId': 1},
    {'year': '2024', 'val': 3.2, 'attrId': 1},
    {'year': '2025', 'val': 3.3, 'attrId': 1}]},
  {'id': '023200000000',
   'name': 'ZACHODNIOPOMORSKIE',
   'values': [{'year': '2011', 'val': 18.8, 'attrId': 1},
    {'year': '2012', 'val': 18.5, 'attrId': 1},
    {'year': '2013', 'val': 19.3, 'attrId': 1},
    {'year': '2014', 'val': 18.7, 'attrId': 1},
    {'year': '2015', 'val': 16.3, 'attrId': 1},
    {'year': '2016', 'val': 13.8, 'attrId': 1},
    {'year': '2017', 'val': 11.4, 'attrId': 1},
    {'year': '2018', 'val': 8.9, 'attrId': 1},
    {'year': '2019', 'val': 7.8, 'attrId': 1},
    {'year': '2020', 'val': 7.2, 'attrId': 1},
    {'year': '2021', 'val': 8.8, 'attrId': 1},
    {'year': '2022', 'val': 7.5, 'attrId': 1},
    {'year': '2023', 'val': 7.2, 'attrId': 1},
    {'year': '2024', 'val': 7.2, 'attrId': 1},
    {'year': '2025', 'val': 7.2, 'attrId': 1}]},
  {'id': '030200000000',
   'name': 'DOLNOLSKIE',
   'values': [{'year': '2011', 'val': 13.8, 'attrId': 1},
    {'year': '2012', 'val': 13.2, 'attrId': 1},
    {'year': '2013', 'val': 14.3, 'attrId': 1},
    {'year': '2014', 'val': 13.6, 'attrId': 1},
    {'year': '2015', 'val': 10.9, 'attrId': 1},
    {'year': '2016', 'val': 8.9, 'attrId': 1},
    {'year': '2017', 'val': 7.5, 'attrId': 1},
    {'year': '2018', 'val': 5.9, 'attrId': 1},
    {'year': '2019', 'val': 5.4, 'attrId': 1},
    {'year': '2020', 'val': 4.9, 'attrId': 1},
    {'year': '2021', 'val': 5.8, 'attrId': 1},
    {'year': '2022', 'val': 5.0, 'attrId': 1},
    {'year': '2023', 'val': 4.8, 'attrId': 1},
    {'year': '2024', 'val': 4.7, 'attrId': 1},
    {'year': '2025', 'val': 5.0, 'attrId': 1}]},
  {'id': '031600000000',
   'name': 'OPOLSKIE',
   'values': [{'year': '2011', 'val': 14.6, 'attrId': 1},
    {'year': '2012', 'val': 14.1, 'attrId': 1},
    {'year': '2013', 'val': 15.4, 'attrId': 1},
    {'year': '2014', 'val': 15.0, 'attrId': 1},
    {'year': '2015', 'val': 12.3, 'attrId': 1},
    {'year': '2016', 'val': 10.6, 'attrId': 1},
    {'year': '2017', 'val': 9.3, 'attrId': 1},
    {'year': '2018', 'val': 7.5, 'attrId': 1},
    {'year': '2019', 'val': 6.5, 'attrId': 1},
    {'year': '2020', 'val': 6.1, 'attrId': 1},
    {'year': '2021', 'val': 7.3, 'attrId': 1},
    {'year': '2022', 'val': 6.6, 'attrId': 1},
    {'year': '2023', 'val': 6.3, 'attrId': 1},
    {'year': '2024', 'val': 6.2, 'attrId': 1},
    {'year': '2025', 'val': 6.3, 'attrId': 1}]},
  {'id': '040400000000',
   'name': 'KUJAWSKO-POMORSKIE',
   'values': [{'year': '2011', 'val': 17.8, 'attrId': 1},
    {'year': '2012', 'val': 17.8, 'attrId': 1},
    {'year': '2013', 'val': 19.0, 'attrId': 1},
    {'year': '2014', 'val': 18.8, 'attrId': 1},
    {'year': '2015', 'val': 16.1, 'attrId': 1},
    {'year': '2016', 'val': 13.8, 'attrId': 1},
    {'year': '2017', 'val': 12.4, 'attrId': 1},
    {'year': '2018', 'val': 10.3, 'attrId': 1},
    {'year': '2019', 'val': 9.2, 'attrId': 1},
    {'year': '2020', 'val': 8.3, 'attrId': 1},
    {'year': '2021', 'val': 9.4, 'attrId': 1},
    {'year': '2022', 'val': 8.3, 'attrId': 1},
    {'year': '2023', 'val': 7.8, 'attrId': 1},
    {'year': '2024', 'val': 7.6, 'attrId': 1},
    {'year': '2025', 'val': 7.7, 'attrId': 1}]},
  {'id': '042200000000',
   'name': 'POMORSKIE',
   'values': [{'year': '2011', 'val': 13.2, 'attrId': 1},
    {'year': '2012', 'val': 13.3, 'attrId': 1},
    {'year': '2013', 'val': 14.3, 'attrId': 1},
    {'year': '2014', 'val': 13.7, 'attrId': 1},
    {'year': '2015', 'val': 11.6, 'attrId': 1},
    {'year': '2016', 'val': 9.3, 'attrId': 1},
    {'year': '2017', 'val': 7.3, 'attrId': 1},
    {'year': '2018', 'val': 5.6, 'attrId': 1},
    {'year': '2019', 'val': 5.2, 'attrId': 1},
    {'year': '2020', 'val': 4.8, 'attrId': 1},
    {'year': '2021', 'val': 6.3, 'attrId': 1},
    {'year': '2022', 'val': 5.3, 'attrId': 1},
    {'year': '2023', 'val': 4.9, 'attrId': 1},
    {'year': '2024', 'val': 4.9, 'attrId': 1},
    {'year': '2025', 'val': 4.9, 'attrId': 1}]},
  {'id': '042800000000',
   'name': 'WARMISKO-MAZURSKIE',
   'values': [{'year': '2011', 'val': 21.1, 'attrId': 1},
    {'year': '2012', 'val': 21.2, 'attrId': 1},
    {'year': '2013', 'val': 22.4, 'attrId': 1},
    {'year': '2014', 'val': 22.4, 'attrId': 1},
    {'year': '2015', 'val': 19.5, 'attrId': 1},
    {'year': '2016', 'val': 16.9, 'attrId': 1},
    {'year': '2017', 'val': 14.7, 'attrId': 1},
    {'year': '2018', 'val': 12.2, 'attrId': 1},
    {'year': '2019', 'val': 10.9, 'attrId': 1},
    {'year': '2020', 'val': 9.7, 'attrId': 1},
    {'year': '2021', 'val': 10.7, 'attrId': 1},
    {'year': '2022', 'val': 9.6, 'attrId': 1},
    {'year': '2023', 'val': 9.2, 'attrId': 1},
    {'year': '2024', 'val': 9.0, 'attrId': 1},
    {'year': '2025', 'val': 9.0, 'attrId': 1}]},
  {'id': '051000000000',
   'name': 'DZKIE',
   'values': [{'year': '2011', 'val': 13.0, 'attrId': 1},
    {'year': '2012', 'val': 13.7, 'attrId': 1},
    {'year': '2013', 'val': 14.9, 'attrId': 1},
    {'year': '2014', 'val': 14.6, 'attrId': 1},
    {'year': '2015', 'val': 12.3, 'attrId': 1},
    {'year': '2016', 'val': 10.7, 'attrId': 1},
    {'year': '2017', 'val': 8.7, 'attrId': 1},
    {'year': '2018', 'val': 7.0, 'attrId': 1},
    {'year': '2019', 'val': 6.3, 'attrId': 1},
    {'year': '2020', 'val': 5.7, 'attrId': 1},
    {'year': '2021', 'val': 6.4, 'attrId': 1},
    {'year': '2022', 'val': 6.3, 'attrId': 1},
    {'year': '2023', 'val': 5.7, 'attrId': 1},
    {'year': '2024', 'val': 5.7, 'attrId': 1},
    {'year': '2025', 'val': 5.8, 'attrId': 1}]},
  {'id': '052600000000',
   'name': 'WITOKRZYSKIE',
   'values': [{'year': '2011', 'val': 16.1, 'attrId': 1},
    {'year': '2012', 'val': 16.0, 'attrId': 1},
    {'year': '2013', 'val': 16.9, 'attrId': 1},
    {'year': '2014', 'val': 17.2, 'attrId': 1},
    {'year': '2015', 'val': 14.8, 'attrId': 1},
    {'year': '2016', 'val': 13.1, 'attrId': 1},
    {'year': '2017', 'val': 11.1, 'attrId': 1},
    {'year': '2018', 'val': 9.3, 'attrId': 1},
    {'year': '2019', 'val': 8.8, 'attrId': 1},
    {'year': '2020', 'val': 8.4, 'attrId': 1},
    {'year': '2021', 'val': 8.9, 'attrId': 1},
    {'year': '2022', 'val': 9.0, 'attrId': 1},
    {'year': '2023', 'val': 8.4, 'attrId': 1},
    {'year': '2024', 'val': 8.3, 'attrId': 1},
    {'year': '2025', 'val': 8.0, 'attrId': 1}]},
  {'id': '060600000000',
   'name': 'LUBELSKIE',
   'values': [{'year': '2011', 'val': 13.9, 'attrId': 1},
    {'year': '2012', 'val': 14.0, 'attrId': 1},
    {'year': '2013', 'val': 15.0, 'attrId': 1},
    {'year': '2014', 'val': 14.9, 'attrId': 1},
    {'year': '2015', 'val': 13.2, 'attrId': 1},
    {'year': '2016', 'val': 12.1, 'attrId': 1},
    {'year': '2017', 'val': 10.7, 'attrId': 1},
    {'year': '2018', 'val': 9.1, 'attrId': 1},
    {'year': '2019', 'val': 8.3, 'attrId': 1},
    {'year': '2020', 'val': 7.8, 'attrId': 1},
    {'year': '2021', 'val': 8.5, 'attrId': 1},
    {'year': '2022', 'val': 9.0, 'attrId': 1},
    {'year': '2023', 'val': 8.4, 'attrId': 1},
    {'year': '2024', 'val': 8.0, 'attrId': 1},
    {'year': '2025', 'val': 7.8, 'attrId': 1}]},
  {'id': '061800000000',
   'name': 'PODKARPACKIE',
   'values': [{'year': '2011', 'val': 16.0, 'attrId': 1},
    {'year': '2012', 'val': 16.2, 'attrId': 1},
    {'year': '2013', 'val': 17.2, 'attrId': 1},
    {'year': '2014', 'val': 16.8, 'attrId': 1},
    {'year': '2015', 'val': 15.2, 'attrId': 1},
    {'year': '2016', 'val': 13.7, 'attrId': 1},
    {'year': '2017', 'val': 11.8, 'attrId': 1},
    {'year': '2018', 'val': 9.9, 'attrId': 1},
    {'year': '2019', 'val': 9.0, 'attrId': 1},
    {'year': '2020', 'val': 8.3, 'attrId': 1},
    {'year': '2021', 'val': 9.5, 'attrId': 1},
    {'year': '2022', 'val': 10.1, 'attrId': 1},
    {'year': '2023', 'val': 9.2, 'attrId': 1},
    {'year': '2024', 'val': 9.1, 'attrId': 1},
    {'year': '2025', 'val': 9.1, 'attrId': 1}]},
  {'id': '062000000000',
   'name': 'PODLASKIE',
   'values': [{'year': '2011', 'val': 14.8, 'attrId': 1},
    {'year': '2012', 'val': 14.8, 'attrId': 1},
    {'year': '2013', 'val': 15.6, 'attrId': 1},
    {'year': '2014', 'val': 15.6, 'attrId': 1},
    {'year': '2015', 'val': 13.5, 'attrId': 1},
    {'year': '2016', 'val': 12.3, 'attrId': 1},
    {'year': '2017', 'val': 10.6, 'attrId': 1},
    {'year': '2018', 'val': 8.7, 'attrId': 1},
    {'year': '2019', 'val': 8.0, 'attrId': 1},
    {'year': '2020', 'val': 7.3, 'attrId': 1},
    {'year': '2021', 'val': 8.2, 'attrId': 1},
    {'year': '2022', 'val': 8.1, 'attrId': 1},
    {'year': '2023', 'val': 7.4, 'attrId': 1},
    {'year': '2024', 'val': 7.4, 'attrId': 1},
    {'year': '2025', 'val': 7.3, 'attrId': 1}]},
  {'id': '071400000000',
   'name': 'MAZOWIECKIE',
   'values': [{'year': '2011', 'val': 10.1, 'attrId': 1},
    {'year': '2012', 'val': 10.3, 'attrId': 1},
    {'year': '2013', 'val': 11.3, 'attrId': 1},
    {'year': '2014', 'val': 11.5, 'attrId': 1},
    {'year': '2015', 'val': 10.0, 'attrId': 1},
    {'year': '2016', 'val': 8.6, 'attrId': 1},
    {'year': '2017', 'val': 7.1, 'attrId': 1},
    {'year': '2018', 'val': 5.7, 'attrId': 1},
    {'year': '2019', 'val': 5.1, 'attrId': 1},
    {'year': '2020', 'val': 4.6, 'attrId': 1},
    {'year': '2021', 'val': 5.3, 'attrId': 1},
    {'year': '2022', 'val': 4.8, 'attrId': 1},
    {'year': '2023', 'val': 4.5, 'attrId': 1},
    {'year': '2024', 'val': 4.3, 'attrId': 1},
    {'year': '2025', 'val': 4.2, 'attrId': 1}]}]}

In [19]:
unitLevel = "unit-level=2"
pageSize = "page-size=100"
varId = varDf.iloc[0]['id']
f"{baseAPI}{endPoint}{varId}?{lang_param}&{unitLevel}&{pageSize}"

'https://bdl.stat.gov.pl/api/v1/data/by-variable/461680?lang=en&unit-level=2&page-size=100'

In [21]:
import time

unitLevel = "unit-level=2"
## We're now wanting to go by the id of variables that we found for registered unemployment rate
endPoint = "data/by-variable/"
dataF = []

for row in varDf.itertuples(index=False):
    
    varId = row.id
    month = row.n1
    
    try:
        responseData = requests.get(
            f'{baseAPI}{endPoint}{varId}?{lang_param}&{unitLevel}&{pageSize}'
        ).json() ## first call
        
    except Exception as e:
        print(f"Error fetching first call for varId = {varId}: {e}")
    time.sleep(0.2)
    
    try:
        df = pd.DataFrame(responseData['results'])
        df["varId"] = varId
        df["month"] = month
        dataF.append(df)

    except Exception as e:
        print(f"Something wrong adding values for varId = {varId}: {e}")
            

dataDf = pd.concat(dataF, ignore_index=True)

In [22]:
dataDf

,id,name,values,varId,month
0,011200000000,MAOPOLSKIE,"[{'year': '2011', 'val': 11.0, 'attrId': 1}, {...",461680,January
1,012400000000,LSKIE,"[{'year': '2011', 'val': 10.6, 'attrId': 1}, {...",461680,January
2,020800000000,LUBUSKIE,"[{'year': '2011', 'val': 16.6, 'attrId': 1}, {...",461680,January
3,023000000000,WIELKOPOLSKIE,"[{'year': '2011', 'val': 9.9, 'attrId': 1}, {'...",461680,January
4,023200000000,ZACHODNIOPOMORSKIE,"[{'year': '2011', 'val': 18.8, 'attrId': 1}, {...",461680,January
...,...,...,...,...,...
187,052600000000,WITOKRZYSKIE,"[{'year': '2011', 'val': 15.2, 'attrId': 1}, {...",461691,December
188,060600000000,LUBELSKIE,"[{'year': '2011', 'val': 13.2, 'attrId': 1}, {...",461691,December
189,061800000000,PODKARPACKIE,"[{'year': '2011', 'val': 15.5, 'attrId': 1}, {...",461691,December
190,062000000000,PODLASKIE,"[{'year': '2011', 'val': 14.1, 'attrId': 1}, {...",461691,December
191,071400000000,MAZOWIECKIE,"[{'year': '2011', 'val': 9.8, 'attrId': 1}, {'...",461691,December

In [ ]:
temp = dataDf.explode('values', ignore_index=True)

,id,name,values,varId,month
0,011200000000,MAOPOLSKIE,"{'year': '2011', 'val': 11.0, 'attrId': 1}",461680,January
1,011200000000,MAOPOLSKIE,"{'year': '2012', 'val': 11.1, 'attrId': 1}",461680,January
2,011200000000,MAOPOLSKIE,"{'year': '2013', 'val': 12.2, 'attrId': 1}",461680,January
3,011200000000,MAOPOLSKIE,"{'year': '2014', 'val': 12.0, 'attrId': 1}",461680,January
4,011200000000,MAOPOLSKIE,"{'year': '2015', 'val': 10.1, 'attrId': 1}",461680,January
...,...,...,...,...,...
2827,071400000000,MAZOWIECKIE,"{'year': '2020', 'val': 5.2, 'attrId': 1}",461691,December
2828,071400000000,MAZOWIECKIE,"{'year': '2021', 'val': 4.7, 'attrId': 1}",461691,December
2829,071400000000,MAZOWIECKIE,"{'year': '2022', 'val': 4.3, 'attrId': 1}",461691,December
2830,071400000000,MAZOWIECKIE,"{'year': '2023', 'val': 4.0, 'attrId': 1}",461691,December
2831,071400000000,MAZOWIECKIE,"{'year': '2024', 'val': 4.0, 'attrId': 1}",461691,December

In [ ]:
temp = pd.concat([
    temp.drop(columns=["values"]),
    temp['values'].apply(pd.Series)
    ],axis=1) 
temp

      year   val  attrId
0     2011  11.0       1
1     2012  11.1       1
2     2013  12.2       1
3     2014  12.0       1
4     2015  10.1       1
...    ...   ...     ...
2827  2020   5.2       1
2828  2021   4.7       1
2829  2022   4.3       1
2830  2023   4.0       1
2831  2024   4.0       1

[2832 rows x 3 columns]

In [ ]:
## we need to parse and exapand the data, to keep relevant column but to exapnd the values part
temp = final_df.explode('values', ignore_index=True)
temp['year'] = temp['values'].apply(lambda x: x['year'])
temp['val'] = temp['values'].apply(lambda x: x['val'])
df_expanded = temp.drop(columns=["values"])

In [35]:
#response_subid
subjectDf = pd.DataFrame(response_subid['results'])

In [ ]:
# Filtering out precision index and below 25 and female and male from (female, males, total) category
subjectDf = subjectDf[
    (subjectDf['n2'] != 'total') &
    (subjectDf['n3'] == 'total') & 
    (subjectDf['n4'] == 'numerical data')
]

In [39]:
subjectDf

,id,subjectId,n1,n2,n3,n4,level,measureUnitId,measureUnitName
4,1614941,P3972,quarter 1,males,total,numerical data,3,23,thousand persons
8,1614945,P3972,quarter 1,females,total,numerical data,3,23,thousand persons
16,1614953,P3972,quarter 2,males,total,numerical data,3,23,thousand persons
20,1614957,P3972,quarter 2,females,total,numerical data,3,23,thousand persons
28,1614965,P3972,quarter 3,males,total,numerical data,3,23,thousand persons
32,1614969,P3972,quarter 3,females,total,numerical data,3,23,thousand persons
40,1614977,P3972,quarter 4,males,total,numerical data,3,23,thousand persons
44,1614981,P3972,quarter 4,females,total,numerical data,3,23,thousand persons

In [ ]:
## we're gathering data for all the years and all the vars all at once
page_size = "page-size=100"
endPoint = "data/by-variable/"
dfs = []

for _, row in subjectDf.iterrows():
    var_id = row['id']
    quarter = row['n1']
    sex = row['n2']

    try:
        response = requests.get(
            f"{baseAPI}{endPoint}{var_id}?{lang_param}&{page_size}"
            ).json()

        df = pd.DataFrame(response["results"])
        df["quarter"] = quarter
        df["sex"] = sex
        dfs.append(df)
    except Exception as e:
        print(f" Unexpected error for var_id={var_id}: {e}")
final_df = pd.concat(dfs, ignore_index=True)

In [ ]:
##  sample var we are ready to get data from our variable:
page_size = "page-size=100"
endPoint = "data/by-variable/"
response_var = requests.get(
    f'{baseAPI}{endPoint}/1614941?{lang_param}&{page_size}'
).json()

In [47]:
final_df

,id,name,values,quarter,sex
0,000000000000,POLAND,"[{'year': '2010', 'val': 987, 'attrId': 1}, {'...",quarter 1,males
1,010000000000,MACROREGION POUDNIOWY,"[{'year': '2010', 'val': 163, 'attrId': 1}, {'...",quarter 1,males
2,011200000000,MAOPOLSKIE,"[{'year': '2010', 'val': 69, 'attrId': 1}, {'y...",quarter 1,males
3,011210000000,REGION MAOPOLSKIE,"[{'year': '2010', 'val': 69, 'attrId': 1}, {'y...",quarter 1,males
4,012400000000,LSKIE,"[{'year': '2010', 'val': 94, 'attrId': 1}, {'y...",quarter 1,males
...,...,...,...,...,...
323,062010000000,REGION PODLASKIE,"[{'year': '2010', 'val': 22, 'attrId': 1}, {'y...",quarter 4,females
324,070000000000,MACROREGION WOJEWDZTWO MAZOWIECKIE,"[{'year': '2010', 'val': 78, 'attrId': 1}, {'y...",quarter 4,females
325,071400000000,MAZOWIECKIE,"[{'year': '2010', 'val': 78, 'attrId': 1}, {'y...",quarter 4,females
326,071410000000,REGION WARSZAWSKI STOECZNY,"[{'year': '2010', 'val': 36, 'attrId': 1}, {'y...",quarter 4,females
327,071420000000,REGION MAZOWIECKI REGIONALNY,"[{'year': '2010', 'val': 42, 'attrId': 1}, {'y...",quarter 4,females

In [59]:
## we need to parse and exapand the data, to keep relevant column but to exapnd the values part
temp = final_df.explode('values', ignore_index=True)
temp['year'] = temp['values'].apply(lambda x: x['year'])
temp['val'] = temp['values'].apply(lambda x: x['val'])
df_expanded = temp.drop(columns=["values"])

In [63]:
df_expanded["Year Quarter"] = (
    df_expanded["year"].astype(str)
    + " Q"
    + df_expanded["quarter"].str.split(" ").str[1]
)

# Extract numeric part of the quarter
df_expanded["quarter_num"] = df_expanded["quarter"].str.extract(r"(\d+)").astype(int)

# Map quarter number to month start
quarter_to_month = {1: 1, 2: 4, 3: 7, 4: 10}

# Compute the first month of the quarter
df_expanded["start_month"] = df_expanded["quarter_num"].map(quarter_to_month)

# Combine year and month into a date
df_expanded["Start of Quarter"] = pd.to_datetime(
    df_expanded["year"].astype(str) + "-" + df_expanded["start_month"].astype(str) + "-01"
)

# (Optional) drop helper columns
df_expanded.drop(columns=["quarter_num", "start_month"], inplace=True)

In [66]:
df_expanded.to_csv("Usefull\\unemployment_rate.csv", index=False)